/* You can add global styles to this file, and also import other style files */
html body {
    font-family: Arial,Helvetica,Sans,Sans-Serif,"Sans Serif";
    background: #ebeced;
}
.bold {
    font-weight: 700;
}
p {
    margin-bottom: 5px;
}